<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Server=LAPTOP-3J5TJ52V\SQLEXPRESS;Database=ADOProject;Integrated Security=True"
			providerName="System.Data.SqlClient" name="defaultConnecton"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>